body {
    background-image: url(asset/Awal.png);
    margin: 0;
    padding: 0;
    width: 100dvh;
  }

.card-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 388px;
    height: 530px;
    border: 2px solid #000;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Mengisi tinggi card-body */
  }
  
  .logo-login {
    position: absolute;
    top: 20px; /* Atur jarak dari atas */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Mengatur urutan tampilan */
  }
  
  .input input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .submit {
    margin-top: 30px; /* Memberi jarak atas pada tombol submit dan link */
  }
  
  .submit button,
  .submit a {
    width: 132px;
    margin-left: 200px;
    bottom: 100px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Gaya untuk select */
select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%; /* Mengisi lebar dengan penuh */
    max-width: 300px; /* Atur lebar maksimum */
    box-sizing: border-box; /* Menghitung padding dan border ke dalam lebar */
    margin-bottom: 15px; /* Jarak dari bawah label */
}

/* Gaya untuk tombol submit */
input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #003348;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

  .submit button {
    background-color: #003348; /* Warna latar belakang untuk tombol "Masuk" */
    color: white; /* Warna teks untuk tombol "Masuk" */
    border: none; /* Hapus border jika diperlukan */
    padding: 8px 16px; /* Sesuaikan padding jika diperlukan */
  }
  
  .submit a {
    color: blue; /* Warna teks untuk link "Buat Akun" */
    text-decoration: none; /* Hilangkan garis bawah pada link jika diperlukan */
  }

  .custom-dropdown .dropdown-menu {
    background-color: #949494;
  }

  .dropdown-toggle{
    width: 348px;
  }

  .navbar {
    display: flex;
    align-items: center;
    background-color: #003348;
    height: 85px;
    width: 100%;
}


.skleton {
    margin-left: 250px;
}

.title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.judul-datadiri {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.title-kuis {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.card-kuis {
  display: flex;
  align-items: center; /* Posisikan konten secara vertikal di tengah */
  width: 1035px;
  height: 133px;
  background-color: #f2f2f2; /* Warna latar belakang kartu */
  border: 1px solid #ccc; /* Border jika diinginkan */
  margin: 20px auto; /* Menengahkan kartu */
}

.content {
  display: flex;
  align-items: center; /* Posisikan konten dalam kartu secara vertikal di tengah */
  gap: 10px; /* Jarak antara gambar dan teks */
}

.content img {
  max-width: 100px; /* Atur lebar maksimum gambar */
  margin-left: 20px;
}

.kuis-1{
  border: 2px solid #F15E3D;
}

.kuis-2{
  border: 2px solid #0764A7;
}

.kuis-3{
  border: 2px solid #3A9F73;
}

.judul-kartu {
  font-weight: bold;
  font-size: 27px;
  margin-left: 25px;
}

.cloud{
  position: absolute;
  bottom: 0%;
  left: 10%;
}

.container-level{
  margin-top: 150px;
}

.card-level{
  display: flex;
  align-items: center; /* Posisikan konten secara vertikal di tengah */
  width: 1035px;
  height: 63px;
  background-color: #f2f2f2; /* Warna latar belakang kartu */
  border: 1px solid #ccc; /* Border jika diinginkan */
  margin: 20px auto;
}

#countdown {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  transition: 1s;
  font-size: 0vw;
  opacity: 50%;
  color: #040; 
}

.card-selesai {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 140px;
  height: 70px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  align-items: center;
}

.card-selesai a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  line-height: 60px;
  align-items: center;
}

.card-selesai:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.container-cocok {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Style untuk kartu pertanyaan */
.pertanyaan {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 10px;
  text-align: center;
}

/* Style untuk jawaban */
.jawaban {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 10px;
  text-align: center;
}

.card-soal {
  width: 539px;
  height: 282px;
  background-color: #F15E3D;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.btn-benar,
.btn-salah {
  padding: 10px 20px;
  width: 130px;
  height: 70px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #F15E3D; /* Warna latar belakang tombol */
  margin-top: 23%;
  transition: background-color 0.3s; /* Animasi perubahan warna */
}

.btn-benar {
  background-color: #27ae60;
}

.btn-salah {
  background-color: #c0392b;
}

.tombol-container {
  margin-top: 20px; /* Jarak antara card-soal dan tombol */
  text-align: center;
}

.img-questions {
  display: block;
  margin: 0 auto 10px; /* Memberi margin bawah agar jarak antara gambar dan teks pertanyaan */
  width: 200px;
  height: 200px;
}


.title {
  width: 531px;
  height: 93px;
  background-color: white;
  /* Tambahan gaya lainnya sesuai kebutuhan */
}

.formdiri{
  margin-left: 20px;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  display: flex; /* Agar elemen turun ke bawah ketika tidak cukup lebar */
  justify-content: center;
}

/* Gaya untuk form 1 */
.form1 {
  width: 50%;
  box-sizing: border-box; 
  margin-bottom: 10px;
  margin-right: 20px;
}

.form2 {
  width: 50%; 
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input_diri {
  width: 100%;
  max-width: 562px;
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.done {
  background-color: #003348; /* Warna latar belakang */
  height: 45px; /* Tinggi tombol */
  width: 135px; /* Lebar tombol */
  border: none;
  border-radius: 4px;
  color: white; /* Warna teks */
  font-size: 14px;
  cursor: pointer;
}
.form3 {
  margin-top: 310px;
}